<?xml version="1.0" encoding="UTF-8"?>

<configuration status="OFF">
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <ThresholdFilter level="trace" onMatch="ACCEPT"
                             onMismatch="DENY"/>
            <PatternLayout pattern="%d [%t] %-5p %l --- %m%n"/>
    </Console>
        <RollingFile name="log" fileName="./logs/mybatis.log"
                     append="true" filePattern="./logs/mybatis.log.%d{yyyy-MM-dd}">
            <PatternLayout pattern="%d [%t] %-5p %l --- %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="./logs/" maxDepth="1">
                    <IfFileName glob="mybatis.log.*"/>
                    <IfLastModified age="15d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </appenders>
    <loggers>
<!--        <root level="trace">-->
        <root level="info">
            <appender-ref ref="log"/>
            <appender-ref ref="console"/>
        </root>
    </loggers>
</configuration>